body {
    font-family: "Poppins", sans-serif;
    background: #e9f3ff;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4da6ff;
    padding: 15px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000025;
}

.btn {
    padding: 10px 20px;
    background: #4da6ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #1a8cff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #cccccc;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.card {
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px #00000020;
}

.card h2 {
    color: #1a8cff;
}